#cards{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 30%;
    height: 375px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    &__image{
        height: 47%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $color-image;
    }
    &__infos{
        width: 100%;
        height: 53%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $background-color;
        padding: 6% 4% 2% 4%;
        display: flex;
        flex-direction: column;
        &__header{
            display: flex;
            justify-content: space-between;
            h2{
                font-weight: 400;
                font-size: 18px;
                max-width: 70%;
                margin: 0;
            }
            p{
                margin: 0;
            }
            &__timer{
                display: flex;
                align-items: center;
                gap: 8px;
                p{
                    font-weight: 700;
                    font-size: 18px;
                }
                i{
                    font-size: 18px;
                }
            }
        }
        &__recipe{
            display: flex;
            align-items: baseline;
            max-height: 73%;
            margin-top: 2%;
            &__ingredients{
                width: 50%;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                p{
                    font-size: 12px;
                    line-height: 14.4px;
                    margin: 0;
                    span{
                        font-weight: 700;
                    }
                }
            }
            &__description{
                width: 50%;
                height: 100%;
                p{
                    font-size: 12px;
                    font-weight: 400;
                    font-family: 'Roboto';
                    line-height: 12px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

#no-result{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 4%;
}